@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

#profile,
#userProfile {
  margin: 10px 60px 100px 60px;
}

body {
  font-size: 16px !important;
}

.header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.right {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.gray {
  color: #9e9e9e;
  margin-bottom: 10px;
}

.first-info,
.second-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.btn-container button {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: white;
  opacity: 50%;
  background-color: #17a100;
  cursor: pointer;
  margin-top: 30px;
}

.btn-containeri button {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #17a100;
  cursor: pointer;
  margin-top: 30px;
}

.noti-modal {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding-left: 60px;
  padding-right: 60px;
}
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  z-index: 5;
}
.noti-close {
  float: right;
  cursor: pointer;
}
.closemessage-icon {
  cursor: pointer;
}
.noti-title {
  margin-top: 30px;
  font-family: "inter" sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
}
/* .notificationMessagesContainer{
  display:grid;
  grid-template-columns: repeat(1,1fr);

} */
.notificationContainer h3 {
  font-family: "inter" sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.notificationContainer p {
  font-family: "inter" sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.noti-messageoneDiv,
.noti-messagetwoDiv,
.noti-messagethreeDiv {
  display: flex;
  flex-direction: row;
  /* width:80%; */
  max-width: 900px;
  justify-content: space-around;
  padding: 10px;
}
.noti-messageoneDiv {
  background-color: #ffeeeefc;
  margin-bottom: 10px;
}
.info-one {
  fill: #c70000fc;
}
#messageone {
  color: #c70000fc;
  max-width: 80%;
}
.messageclosedone {
  color: #c70000fc;
}

.noti-messagetwoDiv {
  background-color: #ebffe8;
  margin-bottom: 10px;
}
.info-two {
  fill: #17a100;
}
#messagetwo {
  color: #17a100;
  max-width: 80%;
}
.messageclosedtwo {
  color: #17a100;
}

.noti-messagethreeDiv {
  background-color: #fff4e3;
  /* margin-bottom:10px; */
}
.info-three {
  fill: #a16c21;
}
#messagethree {
  color: #a16c21;
  max-width: 80%;
}
.messageclosedthree {
  color: #a16c21;
}

@media screen and (max-width: 769px) {
  .grid-section {
    display: block;
  }

  .img {
    text-align: center;
  }

  .right {
    display: block;
    margin: 0 4px;
  }

  section {
    margin: 10px 10px;
  }

  .first-info,
  .second-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .first-info {
    margin-bottom: 20px;
  }

  .header {
    font-size: 30px;
  }

  .cam img {
    left: 470px;
  }

  .button-container button {
    width: 70%;
  }
}

@media (max-width: 563px) {
  .noti-modal {
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    padding-left: 5px;
    padding-right: 5px;
  }
}

a {
  text-decoration: none;
  color: white;
}

/********* edit profile section  ***********/

.input input {
  padding: 10px;
  border-radius: 7px;
  border: 1px solid #9e9e9e;
  outline-color: #17a100;
  width: 100%;
}

.img {
  position: relative;
}

.cam img {
  position: absolute;
  left: 215px;
  top: 260px;
}

@media screen and (max-width: 768px) {
  .cam img {
    left: 440px;
  }

  #profile,
  #userProfile {
    margin: 10px 10px 100px 10px;
  }

  .btn-container,
  .btn-containeri {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .btn-container button,
  .btn-containeri button {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .cam img {
    left: 250px;
  }

  .btn-container,
  .btn-containeri {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .cam img {
    left: 238px;
  }
}

.active {
  color: #17a100 !important;
  transition: color 0.3s ease;
}

@media screen and (max-width: 321px) {
  .cam img {
    left: 210px;
  }
}

@media screen and (max-width: 435px) {
  .cam img {
    left: 250px;
  }
}

@media screen and (max-width: 450px) {
  .cam img {
    left: 275px;
  }

  #footer-section {
    display: none;
  }
}

@media screen and (max-width: 463px) {
  .cam img {
    left: 280px;
  }
}

@media screen and (max-width: 506px) {
  .cam img {
    left: 300px;
  }
}

@media screen and (max-width: 375px) {
  .cam img {
    left: 240px;
  }
}

@media screen and (max-width: 425px) {
  .cam img {
    left: 265px;
  }
}

@media screen and (max-width: 375px) {
  .cam img {
    left: 239px;
  }
}

@media screen and (max-width: 320px) {
  .cam img {
    left: 210px;
  }

  .header {
    font-size: 20px;
  }
}

.button-container button {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: #17a100;
  cursor: pointer;
  margin-top: 30px;
}

/* header */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px !important;
  background-color: #fff;
  z-index: 999;

  /* make the header to stick to top */
  position: sticky;
  top: 0;
  left: 0;
}

#header .logo {
  font-size: 40px !important;
  color: #000;
  font-weight: 600;
}

#navlink {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navlink li {
  list-style: none !important;
  padding: 0 1rem !important;
  position: relative !important;
  font-size: 20px !important;
  color: #000;
}

#navlink li a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
}

#navlink li a:hover,
#navlink li a.active {
  color: #17a100;
  transition: color 0.3s ease;
  border-bottom: 3px solid #17a100;
}

.noti-bar a {
  cursor: pointer;
}

.noti-bar a i {
  position: relative;
  font-size: 24px;
}

.cart-count {
  position: absolute;
  top: 25%;
  right: 9.5%;
  background-color: #ff2e2efc;
  color: #fff;
  font-size: 14px;
  padding: 1px 7px !important;
  border-radius: 50% !important;
  border: 2px solid #fff;
  cursor: pointer;
}

profile-bar a .prof {
  font-size: 28px !important;
  color: #1a1a1a;
}

.chev {
  font-size: 24px !important;
  color: #1f1f1f !important;
}

.profile-bar {
  position: relative;
}

.profile-icon {
  cursor: pointer;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 35px !important;
  right: 0 !important;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  width: 180px;
  padding: 10px 10px !important;
}

.dropdown-menu hr {
  border: 1px solid #999999 !important;
  margin-bottom: 7px !important;
  width: 100% !important;
}

.dropdown-item {
  display: block !important;
  padding: 12px 16px !important;
  text-decoration: none !important;
  color: #000 !important;
  transition: background-color 0.2s ease-in-out !important;
}

.dropdown-item.logout {
  color: #ff2e2efc !important;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}

.adjust {
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
}

.pop-prof {
  font-size: 28px !important;
  margin-right: 15px !important;
}

.logout-icon {
  color: #1a1a1a !important;
}

#last-bar {
  display: flex;
  align-items: center;
  gap: 2rem !important;
}

#last-bar a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px !important;
}

#mobile {
  display: none;
  align-items: center;
}

#navbar {
  display: none;
}

#footer-section {
  padding: 50px 70px !important;
  background-color: #dbedd9dd;
}

#footer-section h4 {
  font-size: 30px !important;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 20px !important;
}

#footer-section li a:hover {
  color: #1b7c0c;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.f1-content p {
  font-size: 16px !important;
  color: #1f1f1f;
  margin-bottom: 20px !important;
}

.f1-content form {
  display: flex;
}

.f1-content form input[type="text"],
.f1-content form input[type="email"] {
  width: 70% !important;
  padding: 10px !important;
  border-radius: none !important;
  border: 2px solid #ccc;
  border-top-left-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
  transition: all 0.3s ease-in-out;
}

.f1-content input::placeholder {
  font-size: 16px !important;
}

.f1-content form button {
  width: 30% !important;
  padding: 10px 20px !important;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  background-color: #17a100;
  color: #fff;
  border: none;
  transition: 0.2s linear;
  font-size: 16px !important;
}

.f1-content form button:hover {
  background-color: #1c9300;
}

.f2-content ul li {
  font-size: 16px !important;
  margin-bottom: 15px !important;
}

.f2-content ul li a {
  color: #1f1f1f;
}

.f3-content ul li {
  font-size: 16px !important;
  margin-bottom: 15px !important;
}

.f3-content ul li a {
  color: #1f1f1f;
}

.socials {
  margin-right: 20px !important;
  color: #17a100;
  font-size: 25px !important;
}

@media (max-width: 2561px) {
  .cart-count {
    top: 26%;
    right: 5.5%;
  }
}

@media (max-width: 1920px) {
  .cart-count {
    top: 26%;
    right: 10.7%;
  }
}

@media (max-width: 1600px) {
  .cart-count {
    top: 26%;
    right: 9.5%;
  }
}

@media (max-width: 1440px) {
  .cart-count {
    top: 26%;
    right: 10%;
  }
}

@media (max-width: 1280px) {
  #header,
  #hero-section,
  #service-section,
  #features-section,
  #call-to-action,
  #why-us,
  #completed-section,
  #feedback,
  #segregation-section,
  #steps-section,
  #latest-section,
  #footer-section {
    padding: 50px 100px !important;
  }

  #header {
    padding: 20px 100px !important;
  }

  .cart-count {
    top: 27%;
    right: 13.5%;
  }

  #call-to-action {
    height: 70vh !important;
  }
}

@media (max-width: 1024px) {
  #header,
  #hero-section,
  #service-section,
  #features-section,
  #call-to-action,
  #why-us,
  #completed-section,
  #feedback,
  #segregation-section,
  #steps-section,
  #latest-section,
  #footer-section {
    padding: 50px 100px !important;
  }

  #header {
    padding: 20px 100px !important;
  }

  .cart-count {
    right: 17%;
  }

  .footer-container {
    gap: 40px !important;
  }

  #footer-section h4 {
    font-size: 24px !important;
  }

  .f1-content p {
    font-size: 16px !important;
  }

  .f1-content form input[type="text"],
  .f1-content form input[type="email"] {
    width: 60% !important;
  }

  .f1-content form button {
    width: 30% !important;
    padding: 8px 18px !important;
  }
}

@media (max-width: 768px) {
  #header,
  #hero-section,
  #service-section,
  #features-section,
  #call-to-action,
  #why-us,
  #completed-section,
  #feedback,
  #segregation-section,
  #steps-section,
  #latest-section,
  #footer-section {
    padding: 50px 30px !important;
  }

  #header {
    padding: 20px 30px !important;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh !important;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.08);
    padding: 20px 0 0 20px !important;
    transition: 0.2s !important;
  }

  #navbar .heading {
    font-size: 32px !important;
    margin-bottom: 10px !important;
    color: #1a1a1a !important;
  }

  #navbar span {
    color: #1a1a1a;
    font-size: 24px !important;
    margin-right: 140px !important;
    font-weight: 600 !important;
  }

  #navbar li a .closed {
    font-size: 30px !important;
    font-weight: 600 !important;
  }

  #navbar i {
    font-size: 50px !important;
    color: #1a1a1a;
    transition: 0.2s;
  }

  #navbar hr {
    width: 95%;
    margin-bottom: 30px !important;
    border: 1px solid #383838 !important;
    opacity: 1;
  }

  #navbar li a {
    color: #1a1a1a;
    font-size: 18px !important;
    transition: 0.2s;
  }

  #navbar li a i {
    margin-right: 15px !important;
    font-size: 18px !important;
    color: #1a1a1a;
  }

  #navbar.active {
    right: 0;
  }

  #navbar li {
    margin-bottom: 35px !important;
  }

  #navbar .loggout {
    color: #ff0000 !important;
  }

  #mobile {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }

  #last-bar {
    display: none;
  }

  .noShow-nav {
    display: none !important;
  }

  .footer-container {
    gap: 30px !important;
  }

  #footer-section h4 {
    font-size: 20px !important;
  }

  .f1-content p {
    font-size: 14px !important;
  }
}

@media (max-width: 584px) {
  .footer-container {
    gap: 30px !important;
    flex-direction: column !important;
  }

  .f1-content form {
    display: flex;
    flex-direction: column !important;
    gap: 10px !important;
  }

  .f1-content form input[type="text"],
  .f1-content form input[type="email"] {
    width: 100% !important;
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
  }

  .f1-content form button {
    width: 30% !important;
    padding: 8px 18px !important;
  }

  .f1-content form button {
    width: 100% !important;
    padding: 8px 18px !important;
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
  }
}
